body {
    background-color: #1b1b1b;
    color: white;
    font-family: 'Padauk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 35px;
    font-weight: 700;
}

.div {
    display: flex;
    align-items: center;
}

.label {
    font-weight: 700;
    font-size: 24px;
    margin-right: 5px;
}

.input {
    height: 30px;
    width: 450px;
    border-radius: 5px 0 0 5px;
    border: none;
    margin-right: 0;
    padding: 5px 10px;
    background-color: rgb(83, 83, 83);
    outline: none;
    color: white;
    font-size: 15px;
}

.submit {
    height: 40px;
    width: 100px;
    border-radius: 0 5px 5px 0;
    border: 0;
    background-color: #708090;
    color: white;
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.ul {
    width: 500px;
    font-size: 20px;
}

li::marker {
    color: #708090;
}

li button {
    margin: 0 10px;
    height: 20px;
    width: 50px;
    border: none;
    border-radius: 2px;
    font-family: 'Padauk', sans-serif;
    font-weight: 700;
    background-color: #708090;
    color: white;
}